
Crud.Core/obj/Debug/

Crud.Core/obj/

Crud.DataBase/bin/

Crud.DataBase/obj/

Crud.Service/bin/

Crud.Service/obj/

WebApplication1/bin/

WebApplication1/obj/

.vs/WebApplication1/v15/

Crud.Infrastructure/bin/Debug/

Crud.Infrastructure/obj/Debug/

Crud.Core/bin/Debug/Crud.Core.dll

Crud.Core/bin/Debug/Crud.Core.pdb

.vs/

Crud.Infrastructure/obj/
